$lightGreen: #b9e7e7;

body,
html {
  margin: 0;
  padding: 0;
}

#root,
.app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #a6ddf0;
  filter: blur(72px);
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .slogan {
      position: absolute;
      top: 50%;
      left: 7%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: #333;
      font-weight: 600;
      text-align: left;

      .pic {
        width: 50px;
        margin-left: -4rem;
        height: 40px;
      }

      .firstslogan {
        text-transform: uppercase;
        margin-left: -4rem;
        font-size: 30px;
        font-weight: bolder;
        .color {
          -webkit-text-fill-color: transparent;
          background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
          background-repeat: repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .secondslogan {
        font-size: 15px;
      }
    }
    // Login form
    form {
      display: flex;
      flex-direction: column;
      height: 270px;
      padding: 50px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
      gap: 20px;
      .heading {
        margin-top: -13px;
        font-size: 2rem;
        font-weight: 600;
      }
      .secondhead {
        font-size: 1rem;
        font-weight: 400;

        .link {
          color: #1a73e8;
        }
      }
      .link:hover {
        text-decoration: underline;
      }
    }
    input {
      font-family: inherit;
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: inherit;
      background-color: #f1f5f9;
      border: none;
      outline: none;
      text-transform: unset;
      text-rendering: optimizeLegibility;
      border-radius: 2rem;
    }
    .button {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      margin-top: 5px;
      cursor: pointer;
      width: 50%;
      height: auto;
      padding: 0.65rem 1.25rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      align-self: flex-end;
      color: #ffffff;
      background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    }
    .button:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1),
        0 4px 6px -1px rgba(0, 0, 0, 0.06);
    }

    .error {
      text-align: center;
      font-weight: 400;
      margin-top: -25px;
      p {
        font-size: large;
        color: #e63946;
      }
    }

    // Register
    .register_auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .register_slogan {
      position: absolute;
      top: 50%;
      left: 7%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: #333;
      font-weight: 600;
      text-align: left;

      .register_firstslogan {
        text-transform: uppercase;
        margin-left: -4rem;
        font-size: 30px;
        font-weight: bolder;
        .color {
          -webkit-text-fill-color: transparent;
          background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
          background-repeat: repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .register_secondslogan {
        font-size: 15px;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      height: 400px;
      padding: 50px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
      gap: 20px;
      .register_heading {
        margin-top: -13px;
        font-size: 2rem;
        font-weight: 600;
      }
      .register_secondhead {
        font-size: 1rem;
        font-weight: 400;

        .register_link {
          color: #1a73e8;
          text-decoration: none;
        }
      }
      .register_link:hover {
        text-decoration: underline;
      }
    }
    input {
      font-family: inherit;
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: inherit;
      background-color: #f1f5f9;
      border: none;
      outline: none;
      text-transform: unset;
      text-rendering: optimizeLegibility;
      border-radius: 2rem;
    }
    .file {
      margin-left: 6px;
      background-color: #1a73e8;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      color: white;
      width: 90%;
      background: #ff7900;
      border-radius: 2rem;
    }
    .button {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      margin-top: 5px;
      cursor: pointer;
      width: 50%;
      height: auto;
      padding: 0.65rem 1.25rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      align-self: flex-end;
      color: #ffffff;
      background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    }
    .button:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.1),
        0 4px 6px -1px rgba(0, 0, 0, 0.06);
    }

    .register_error {
      text-align: center;
      font-weight: 400;
      margin-top: -25px;
      p {
        font-size: large;
        color: #e63946;
      }
    }

    // Navbar
    .navbar {
      .container {
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 140px;
            margin-top: 5px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          border: 1px solid rgb(82, 81, 81);
          border-radius: 2rem;
          padding: 10px;
          height: 20px;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);

          a {
            text-decoration: none;
            color: black;

            &:hover {
              color: #616060;
            }
          }

          h6 {
            font-size: 15px;
            letter-spacing: 1px;
          }

          span {
            cursor: pointer;
            letter-spacing: 0.5px;
            font-weight: 600;
          }
        }

        .user {
          display: flex;
          align-items: center;
          // background: #333;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
          padding: 8px;
          border: 1px solid black;
          // color: white;
          gap: 5px;
          letter-spacing: 0.5px;
          font-size: 15px;
          padding: 10px 13px;
          border-radius: 1rem;
          font-weight: 700;
        }

        .logout {
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
          padding: 8px;
          border: 1px solid orange;
          color: white;
          letter-spacing: 0.5px;
          cursor: pointer;
          font-size: 15px;
          padding: 10px 10px;
          border-radius: 1rem;
          font-weight: 700;
          transition: all 0.3s ease;

          .logout_icon {
            margin-bottom: -2.4px;
            margin-right: 4px;
          }

          &:hover {
            background: white;
            color: #e85d04;
          }
        }

        .link {
          padding: 7px 10px;
          font-weight: 500;
          letter-spacing: 1px;
        }

        .write {
          padding: 10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e36414;
          font-weight: 400;
          transition: background 0.5s, border 0.3s;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);

          &:hover {
            background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
            border: 1px solid white;
          }

          img {
            height: 30px;
          }
        }
      }
    }

    // Footer
    footer {
      margin-top: 300px;
      padding: 20px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(234, 233, 233);
      border: 1px solid rgb(87, 87, 87);
      border-radius: 2rem;
      margin-bottom: 20px;
      img {
        height: 50px;
      }
      .footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        span,
        p {
          color: black;
        }
      }
    }

    // Home
    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 120px;

        .post {
          display: flex;
          gap: 20px;

          .img {
            flex: 2;
          }

          img {
            width: 100%;
            max-height: 400px;
            border-radius: 20px;
            object-fit: cover;
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            p {
              word-wrap: break-word;
              text-align: justify;
              line-height: 1.5;
            }

            h2 {
              font-size: 24px;
              color: black;
              margin-top: 0;
              margin-bottom: 10px;
            }

            p {
              font-size: 16px;
              line-height: 1.5;
              margin-top: 0;
              background-color: transparent;
            }
            p::first-letter {
              font-size: 24px;
              font-weight: bold;
            }

            .buttons {
              width: max-content;
              padding: 10px 20px;
              font-size: 16px;
              letter-spacing: 1px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid $lightGreen;
              color: teal;

              &:hover {
                border: 1px solid white;
                color: black;
                background-color: $lightGreen;
              }
            }
          }
        }

        .post:nth-child(2n + 1) {
          flex-direction: row-reverse;
        }
      }
    }

    // Single
    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;
        img {
          width: 100%;
          height: 300px;
          border-radius: 15px;
          object-fit: cover;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;

          span {
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 0;
          }
          .date_time {
            font-size: 13px;
            color: #333;
            font-weight: 500;
          }
        }

        .edit {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icons {
          width: 44px;
          cursor: pointer;
          height: 40px;
          transition: transform 0.1s ease-in-out;
        }

        .icons:hover {
          transform: scale(1.2);
        }
      }

      .title_desc_sec {
        margin-top: -20px;
        h1 {
          font-size: 24px;
          color: #333;
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          color: black;
          line-height: 1.6;
          letter-spacing: 0.5px;
        }
      }

      h1 {
        font-size: 30px;
        color: black;
      }
      p {
        color: black;
        text-align: justify;
        line-height: 30px;
      }

      .menu {
        width: 100%;
        max-width: 300px;
        padding: 20px;
        margin-top: -40px;
        box-sizing: border-box;
        h1 {
          font-size: 19px;
          font-weight: 500;
        }
        .link-no-underline {
          text-decoration: none;
          color: inherit;
        }

        .post {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          border: 1px solid #a5a2a2;
          padding: 10px;
          background-color: white;
          cursor: pointer;
          border-radius: 1rem;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.05);
          }

          .post-image {
            width: 100%;
            border-radius: 10px;
            height: auto;
            object-fit: cover;
          }

          .post-title {
            font-size: 17px;
            margin: 10px 0;
            font-weight: 500;
          }

          .between {
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: space-between;

            span {
              color: #333;
              font-weight: 500;
              font-size: 14px;
            }
          }

          .post-desc {
            font-size: 17px;
            margin-top: -5px;
          }
        }
      }
    }

    //  Write
    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .error {
          background-color: #ae2012;
          font-weight: 500;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
          color: white;
          display: none;
        }

        .error.show {
          display: block;
        }

        input {
          padding: 10px;
          border: 1px solid #b5b2b2;
          border-radius: 5px;
          font-size: 16px;
        }
        .title {
          background-color: white;
        }

        .editorContainer {
          height: 330px;
          overflow: scroll;
          border: 1px solid #b5b2b2;
          background-color: white;

          .editor {
            height: 100%;
            border: none;
          }

          p {
            color: #333;
            font-size: 16px;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid #b5b2b2;
          border-radius: 5px;
          background-color: white;
          padding: 15px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 14px;
          color: #555;
          margin-top: -4px;
          .word {
            align-self: center;
            margin-top: -10px;
          }
          .words {
            margin-top: -10px;
          }

          .betweens {
            display: flex;
            justify-content: space-between;
          }

          .upload_img {
            background: #ff7900;
            font-weight: 600;
            font-size: 15px;
            padding: 10px;
            border-radius: 5px;
            align-self: flex-end;
            color: white;
            letter-spacing: 1px;
          }

          h1 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
          }

          span {
            color: #333;
            margin-bottom: 7px;
            display: flex;
            font-weight: 500;
            justify-content: space-between;
            font-size: 14px;
          }

          label {
            cursor: pointer;
            color: #333;
          }

          .file {
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons {
            display: flex;
            justify-content: space-between;
            align-self: flex-end;

            button {
              background: #ff7900;
              padding: 10px;
              border: none;
              color: white;
              margin-top: 5px;
              border-radius: 5px;
              letter-spacing: 1px;
              font-size: 15px;
              font-weight: 600;
              cursor: pointer;
              transition: all 0.3s ease;
            }
          }

          .cat {
            display: flex;
            font-size: 17px;
            align-items: center;
            gap: 10px;
            color: #008080;
            input[type="radio"] {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
